<div class="container-fluid">
  <div class="row-fluid">

    <div class="span9">
      <div class="hero-unit">
        <p>Copy any Creative Commons licensed web page into a Github repository</p>
        <h2>Enter a Web Page to Open</h2>
        <%= semantic_form_for @forked_page do |f| %>
          <%= f.inputs do %>
            <%= f.input :url, :label => false, :placeholder => 'www.change-the-world.org' %>
          <% end %>
          <%= f.actions do %>
            <%= f.action :submit, :as => :button, :label => 'Open now »', :button_html => { :class => "btn btn-primary btn-large" } %>
          <% end %>
        <% end %>
      </div>
    </div><!--/span-->
    <%= render :partial => "recent_changes_sidebar" %>

  </div><!--/row-->
</div><!--/container-->
